# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=korp
DATABASE_URL="host=localhost user=user password=password dbname=korp port=5432 sslmode=disable TimeZone=America/Sao_Paulo"

# Microservices
STOCK_SERVICE_URL=http://localhost:8081
