# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

# Dependency directories
vendor/
node_modules/

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
